<p>
  <b>Ingrediente:</b>
  <%=h @unidadmedidaingrediente.ingrediente %>
</p>

<p>
  <b>Unidadmedida:</b>
  <%=h @unidadmedidaingrediente.unidadmedida %>
</p>


<%= link_to 'Edit', edit_unidadmedidaingrediente_path(@unidadmedidaingrediente) %> |
<%= link_to 'Back', unidadmedidaingredientes_path %>
