<p>
  <b>Usuario:</b>
  <%=h @etiquetaing.usuario %>
</p>

<p>
  <b>Nombre:</b>
  <%=h @etiquetaing.nombre %>
</p>


<%= link_to 'Edit', edit_etiquetaing_path(@etiquetaing) %> |
<%= link_to 'Back', etiquetaings_path %>
