<script>
	highline(1);
</script>


<fieldset>
	<legend>Ficha</legend>
	<div class ="papel_div">
		<table align="center" style="border-collapse:collapse;border-left:solid #F88 1px;width:500px;">
			<tr>
				<td align="center" colspan=2>
					<span style="color:#B00;font-family:'handwrite',Times,serif;font-size:200%;text-decoration:underline;"><%= receta.nombre %><br><br></span>
				</td>
			</tr>
			<% for ingrediente in ingredientes_incluidos %>
				<tr style="color:#048;border-bottom:solid #0FF 1px;">
					<% unidadmedida = Unidadmedidaingrediente.find(ingrediente.ingrediente)%>
					<% ing=Ingrediente.find(unidadmedida.ingrediente) %>
					<% unidad = Unidadmedida.find(unidadmedida.unidadmedida) %>
					<td style="padding-left:10px;font-family:'handwrite',Times,serif;">
						<%= ingrediente.cantidad %> <%= unidad.nombre %>
					</td>
					<td style="font-family:'handwrite',Times,serif;">
						<%= ing.nombre %>
					</td>
				</tr>
			<% end %>
			<tr style="border-bottom:solid #0FF 1px;">
				<td><br></td>
				<td><br></td>
			</tr>
		</table>
	</div>
</fieldset>